html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	    -ms-text-size-adjust: 100%;
	margin: 0;
}

html, body {
	height: 100%;
	width: 100%;
	min-height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-size: 13pt;
	font-family: 'PT Serif', serif;
	font-weight: 400;
	background-color: #05070b;
	color: #444;
	line-height: 140%;
}

h1, h2, h3, h4, h1 a, h2 a, h3 a, h4 a {
	color: #111;
	font-family: 'PT Sans Narrow', sans-serif;
	font-weight: 400;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover {
	color: #0080d5;
	text-decoration: none;
}

h2 span {
	margin-left: 8px;
	color: #ccc;
	font-size: 70%;
}

a {
	color: #0080d5;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

pre {
	overflow: scroll;
}

#container {
	height: auto;
	min-height: 100%;
	width: 536px; /* 576 - 40px padding */
	margin: 0 auto;
	padding: 4px 20px;
	background-color: #f8f8f8;
}

.section { 
	margin: 0;
}

.header {
	margin: 0;
}

hr {
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 10px solid #dfdfdf;
	margin-left: -20px;
	margin-right: -20px;
}

.header ul {
	margin: -4px 0 0 0;
	padding: 0;
}

.header li {
	display: inline;
	margin: 0 18px 0 0;
	padding: 0;
}

.header li a {
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 125%;
	line-height: 140%;
	text-decoration: none;
	color: #000;
	font-weight: normal;
}

.header a:hover {
	color: #0080d5;
}

.header li {
	display: inline;
}

#heading {
	color: #000;
	text-transform: lowercase;
}

#heading span {
	color: #555;
}

#subheading {
	color: #777;
	font-size: 12pt;
}

.footer {
	text-align: right;
	padding: 0;
	margin: 0.75em 0;
}

.footer ul {
	float: left;
	margin: 0;
	padding: 0;
}

.footer li {
	display: inline;
	margin: 0 12px 0 0;
}

.footer a.grey {
	color: #666;
}

.footer a.grey:hover {
	color: #0080d5;
}

.works-heading {
	margin-left: -20px;
	margin-right: -20px;
	padding: 4px 20px;
}

.works-heading h3 {
	position: absolute;
	bottom: 0;
	font-size: 1.4em;
}

p.role {
	color: #888;
}

.steamcharts {
	background-image: url(/assets/steamcharts.jpg);
	background-color: #111;
	background-size: cover;
	color: #eee;
	height: 160px;
	position: relative;
}

.steamcharts h3 {
	color: #fff;
}

.nuclear-dawn {
	background-image: url(/assets/nucleardawn.jpg);
	background-color: #111;
	background-size: cover;
	color: #eee;
	height: 160px;
	position: relative;
}

.nuclear-dawn h3 {
	color: #fff;
}

.stargate {
	background-image: url(/assets/stargate.jpg);
	background-color: #111;
	background-size: cover;
	color: #000;
	height: 160px;
	position: relative;
}

.stargate {
	color: #111;
}
